header {
  display: flex;
  justify-content: space-between;

  background: #fa5;
  color: darkorchid;
  border-bottom: 1px solid darkorchid;

  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100vw;
  height: var(--header-height);
  padding: 0.5em;

  h4 {
    font-size: 80%;
    font-style: italic;
    font-weight: normal;
    margin: 0;
  }

  small {
    font-size: .667em;
  }
}
