main {
  background: teal;
  color: cornsilk;
  box-sizing: border-box;
  padding: 1em;
  min-height: var(--main-height);

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    li.item {
      border: 1.5px solid currentColor;
      border-radius: 1em;
      margin: 1em;
      padding: 1em;
      height: fit-content;
      max-width: 250px;
    }
  }
}
